!!!html
%html
  %head
    %title="SBD"
    =stylesheet_link_tag "application", media: "all", turbolinks: "true"
    =javascript_include_tag "application", turbolinks: "true"
    = csrf_meta_tags
    //%noscript="You must have javascript enabled to view this site."
  
  %body
    %script{ type: "text/x-handlebars", data: { :'template-name' => "application" }}
      .ribbon.top.clearfix
        = render :partial => "/layouts/top_ribbon"
      .ribbon.menu.clearfix
        = render :partial => "/layouts/main_menu"
      .notice
        = notice
      .alert
        = alert
      %br/
      / = yield
      .main_wrapper
        {{outlet}}

      =render partial: "layouts/timeline"

          
    %script{ type: "text/x-handlebars", data: { :'template-name' => "index" }}
      %h1="Application layout Home#index"
      {{time}}
    %script{ type: "text/x-handlebars", data: { :'template-name' => "notes" }}
      {{outlet}}
      {{#each note in notes}}
      {{note.name}}
      {{/each}}
      %p="There are {{notesCount}} notes!"
      

    %script{ type: "text/x-handlebars", data: { :'template-name' => "notes/index" }}
      %p="Notes INDEX!!"
      

    %script{ type: "text/x-handlebars", data: { :'template-name' => "note" }}
      %p="Single note!"
      

