!!!html
%html
  %head
    %title="SBD"
    =stylesheet_link_tag "application", media: "all", turbolinks: "true"
    =javascript_include_tag "application", turbolinks: "true"
    = csrf_meta_tags
    //%noscript="You must have javascript enabled to view this site."
  
  %body.full
    %script{ type: "text/x-handlebars", data: { :'template-name' => "application" }}
      .main_wrapper.clearfix
        .ribbon.top.clearfix
          = render :partial => "/layouts/top_ribbon"
        .ribbon.menu.clearfix
          = render :partial => "/layouts/main_menu"
        .notice
          = notice
        .alert
          = alert

        {{outlet}}

      =render partial: "layouts/timeline"
    
    // :javascript
    //   $(document).ready(function() {
    //     function setTemplate(amt) {
          
    //     }
    //   });

